@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;700&display=swap');

* {
    background-color: #ECF0F1;
    margin: 10px 60px 0 30px;
    font-family: 'Poppins', sans-serif;
}

h1 {
    padding-bottom: 25px;
}

a {
    color: #34495E;
    text-decoration:none;
}

#btn {
    width: 172px;
}

body {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 95vh; /* Set the height of the container (viewport height) */
    flex-direction: column;
}

form {
    height: -50px;
    width: 300px; /* Adjust the width as needed */
}

table tr {
    padding-top: 50px;
    width: 100%;
}

